@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    display: grid;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background-color: #F8F2F6;
    font-size: 18px;
}

header {
    display: grid;
    background-color: #895FAB;
    color: #F8F2F6;
    padding: 0;
    align-items: center;
}
h1 {
    text-align: center;
}

nav {
    background-color: #210B2C;
    margin: 0;
    padding: 1em;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 1em;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #F8F2F6;
    text-decoration: none;
    padding: 1em;
    border-radius: 10px;
}

nav ul li a:hover {
    color: #BC96E6;
    background-color: #F0E3F1;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Main content and sidebar */
    max-width: fit-content;
}

.card {
    background-color: #F0E3F1;
    padding: 1em;
    border-radius: 25px;
    margin: 2em
}

section, aside {
    display: grid;
}

.card h2 {
    text-align: center;
    color:#210B2C;
}

.card p {
    text-align: justify;
    color:#210B2C;
    padding: 2em;
}

.card img {
    width: 15%;
    margin: 0 auto;
    border-radius: 25px;
}

footer {
    background-color: #895FAB;
    color: #F8F2F6;
    padding: 1em;
    text-align: center;
}